* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f4f0;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  padding: 20px;
}

header {
  max-width: 900px;
  margin: 40px auto 24px;
  padding: 0 20px;
}

header h3 {
  color: #e1624f;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

header h1 {
  font-size: 36px;
  color: #1b1b1b;
  margin-bottom: 10px;
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

#presentation img {
  width: 100%;
  object-fit: cover;
  border-radius: 28px;
  margin-bottom: 24px;
}

#presentation p {
  font-style: italic;
  color: #333333;
  text-align: center;
  font-size: 16px;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
}

#discover {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}

#discover h3 {
  color: #e1624f;
}

#discover p {
  margin-bottom: 40px;
}

.card {
  padding: 0px;
  margin-bottom: 32px;
}

.card img {
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
  margin-bottom: 20px;
}

.card h2 {
  font-size: 28px;
  color: #1b1b1b;
  margin-bottom: 16px;
}

.card p {
  color: #333333;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 1.6;
}

.card strong {
  display: block;
  margin-bottom: 8px;
  color: #1b1b1b;
  font-size: 16px;
}

.card ul {
  margin-left: 20px;
}

.card li {
  color: #0c51a7;
  font-size: 14px;
  font-weight: 600;
}

/* Lista com cores diferentes */
.card li.couples {
  color: #591b98;
}

.card li.family {
  color: #e5245e;
}

.card li.budget {
  color: #e95e10;
}

.separate {
  width: 100%;
  height: 1px;
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: #d9d9d9;
}

footer {
  text-align: center;
  margin-top: 40px;
}
